<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Role</title>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="role-info-container mt-4">
            <form method="POST" action="/roles/create">
                <div class="mb-3 col-6">
                    <label for="name" class="form-label">Role name</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
                <div class="col-6"></div>
                <div class="mb-3 col-6">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" name="description" class="form-control" id="description">
                </div>
                <div class="col-6"></div>
                <div class="mb-3 col-6">
                    <label for="createdBy" class="form-label">Created by</label>
                    <input type="text" name="createdBy" class="form-control" id="createdBy">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
        <div class="table-role mt-4">
            <h3>Table Role</h3>
            <table class="table table-hover table-bordered">
                <thead>
                <tr class="table-dark">
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created By</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <% roles.forEach((item, index) => { %>
                    <tr>
                        <th scope="row"><%= item.id %></th>
                        <td><%= item.roleName %></td>
                        <td><%= item.description %></td>
                        <td><%= item.createdBy %></td>
                        <td class="d-flex justify-content-center align-items-center">
                            <form class="me-2" method="GET" action="/roles/edit/<%= item.id %>">
                                <button class="btn btn-primary">
                                    Edit
                                </button>
                            </form>
                            <form method="POST" action="/roles/delete/<%= item.id %>">
                                <button class="btn btn-danger">
                                    Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>